{% extends "BASE.html" %}
{% block title %}Selection page{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block bodyblock %}
    <div id="mainbox">
        <div id="imagebox">
            <h4>Identify Points To Be Used For Authentication:</h4>
            <img id="imageboxcontent" src="{{imageToDisplay}}" alt="image" usemap="#imagemap">

            <map name="imagemap">
                <area id="1" shape="rect" coords="0,0,96,90" alt="1" onclick="gridSelector(this.id)">
                <area id="2" shape="rect" coords="96,0,192,90" alt="2" onclick="gridSelector(this.id)">
                <area id="3" shape="rect" coords="192,0,288,90" alt="3" onclick="gridSelector(this.id)">
                <area id="4" shape="rect" coords="288,0,384,90" alt="4" onclick="gridSelector(this.id)">
                <area id="5" shape="rect" coords="384,0,480,90" alt="5" onclick="gridSelector(this.id)">
                <area id="6" shape="rect" coords="480,0,576,90" alt="6" onclick="gridSelector(this.id)">
                <area id="7" shape="rect" coords="576,0,672,90" alt="7" onclick="gridSelector(this.id)">
                <area id="8" shape="rect" coords="672,0,768,90" alt="8" onclick="gridSelector(this.id)">
                <area id="9" shape="rect" coords="768,0,864,90" alt="9" onclick="gridSelector(this.id)">
                <area id="10" shape="rect" coords="864,0,960,90" alt="10" onclick="gridSelector(this.id)">
                <input type="hidden" id="gridSequence" name="gridSequence" value="">
            </map>

        </div>
    </div>
    {% block script %}
        <script type="text/javascript" src={{ url_for('static', filename='scripts/gridSelector.js')}}></script>
    {% endblock %}
{% endblock %}
